/** CSS STYLE **/

:root {
  --transparent-white: #d7ccc0;
  --whithe: #fff;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --semi-transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../styles/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Neucha Regular";
  src: url("../styles/fonts/Neucha-Regular.ttf");
}

body {
  width: 1440px;
  margin: 0;
}

main {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

/* ссылки */
a {
  color: var(--whithe);

  cursor: pointer;
}

a:focus,
a:active {
  outline: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin-top: 0;
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: 400;
  font-family: "Neucha Regular", cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  margin-top: 30px;

  font-size: 34px;
}

section {
  position: relative;

  box-sizing: border-box;
  padding: 100px 0;
}

header {
  position: relative;
  z-index: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 100px 0;

  background-color: var(--light);
}

header::before {
  position: absolute;
  top: 0;
  z-index: -10;

  width: 100%;
  height: 100%;

  background-image: url("..//images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.container {
  z-index: 100;

  width: 1110px;
  margin: 0 auto;
}

.header-title {
  display: flex;
  height: 258px;
  margin-bottom: 198px;
}

.title {
  z-index: 50;

  color: var(--dark);
  white-space: nowrap;
}

.title-accent {
  color: var(--main);
}

.header-image {
  position: relative;
  top: -45px;
  right: 280px;
  z-index: 40;

  height: 525px;
}

.column {
  columns: 540px 2;
  column-gap: 30px;
}

.text-description ~ p {
  width: 540px;
}

.column p:last-child {
  margin: 0;
}

a.button {
  display: block;
  box-sizing: border-box;

  width: 148px;
  height: 49px;
  margin-top: 40px;
  margin-left: 570px;
  padding: 11px 0;

  color: var(--whithe);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  text-decoration: none;

  background: var(--main);

  cursor: pointer;
}

a.button:hover {
  background-color: #ea7600;
}

/* 2 секция */
.container-video-block {
  margin-bottom: -84px;
  padding-bottom: 29px;
}

.video-block {
  margin: 0 auto;

  text-align: center;
}

.subheading {
  margin: 30px 0 0;
}

.video {
  position: relative;
  top: 30px;
  left: 96px;
  z-index: 10;

  display: block;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* 3 блок меню */

section.container-menu-block {
  padding-top: 200px;

  background-color: #42413c;
}

.menu-block {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  height: 691px;
}

.title-menu {
  width: 350px;
  min-height: 323px;

  margin-bottom: 20px;

  font-size: 52px;
  line-height: 120%;
}

.title-white {
  color: var(--whithe);
}

.menu-number {
  margin: 0;

  color: var(--dark);
  font-weight: 400;
  font-size: 64px;
  font-family: "Neucha Regular", cursive;
  line-height: 1;
}

.menu-name {
  margin-top: 40px;

  color: var(--main);
}

.menu-text {
  margin: 14px 0 0;

  color: var(--dark);
}

a.menu-card {
  position: relative;

  display: block;
  box-sizing: border-box;

  width: 350px;
  height: 323px;
  padding: 24px;

  text-decoration: none;

  background: #f5f4f0;
}

.menu-card:hover {
  background-color: var(--main);
}

.menu-card:hover .menu-number {
  color: var(--whithe);
}

.menu-card:hover .menu-name {
  color: var(--whithe);
}

.menu-card:hover .menu-text {
  color: var(--whithe);
}

a.ver {
  height: 348px;
}

/* 4 секция Эффект Икеи */

.description-light {
  z-index: 0;

  background-color: var(--light);
}

.description-light::before {
  position: absolute;
  top: 0;
  z-index: -10;

  width: 100%;
  height: 100%;

  background-image: url("..//images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.block-description {
  display: flex;
  justify-content: space-between;
}

.block-description div:first-child {
  margin-right: 30px;
}

.block-description-image {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.upheader {
  margin: 0;

  color: var(--semi-transparent-dark);
  font-weight: 400;
  font-size: 24px;
  font-family: "Neucha Regular", cursive;
  font-style: normal;

  line-height: 29px;
}

.subtitle {
  color: var(--dark);
}

.title-description {
  box-sizing: border-box;
  width: 100%;
  height: 26px;

  margin-top: 100px;
  margin-bottom: 20px;
  padding-left: 10px;

  color: var(--whithe);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  background-color: var(--brown);
}

.text-description {
  display: flex;
  flex: 2;
  justify-content: space-between;
}

/* 5 секция Преждевременная оптимизцаия */

.description-dark {
  z-index: 0;

  background-color: var(--brown);
}

.description-dark::before {
  position: absolute;
  top: 0;
  z-index: -10;

  width: 100%;
  height: 100%;

  background-image: url("..//images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.upheader-light {
  color: var(--transparent-white);
}

.subtitle-white {
  color: var(--whithe);
}

.title-description-white {
  box-sizing: border-box;
  width: 100%;
  height: 26px;

  margin-top: 100px;
  margin-bottom: 20px;
  padding-left: 10px;

  color: var(--brown);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  background-color: var(--whithe);
}

.column-white {
  color: var(--whithe);
}

/* Футер */

footer {
  padding: 100px 0;
}

.footer-mail-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 190px;

  background-color: #42413c;
}

.title-mail-form {
  margin: 0;
  margin-bottom: 9px;

  color: var(--whithe);
  font-weight: 400;
  font-size: 18px;
}

.title-form {
  margin: 0;
  margin-left: 55px;
}

.input-mail-form {
  box-sizing: border-box;

  width: 415px;
  height: 50px;

  padding: 17px 0 18px 15px;

  border: 1px solid #e3e3e3;
}

.input-mail-form::placeholder {
  color: #757575;
  font-weight: 400;
  font-size: 13.1px;
  font-family: "Open Sans", sans-serif;

  line-height: 160%;

  opacity: 0.2;
}

.mail-form {
  margin-right: 55px;
}

.form {
  display: flex;
}

.button-mail-form {
  position: relative;

  box-sizing: border-box;

  width: 70px;
  height: 50px;

  margin: 0;

  background: var(--main);

  border: none;
}

.button-mail-form::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 70px;
  height: 50px;

  margin: 0;

  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;

  content: "";
}

.button-mail-form:hover {
  background-color: #ea7600;
}

.disclaimer-mail-form {
  margin: 0;

  color: var(--whithe);
  font-size: 12px;
}

.footer-information {
  margin-top: 76px;

  text-align: center;
}

.footer-link {
  color: #007dc1;
  font-size: 14px;

  line-height: 160%;
}

.footer-information-text {
  margin-bottom: 16px;

  color: #000;
  font-size: 14px;

  line-height: 160%;
}
